<!DOCTYPE html>
<html>
  <head>
    <title>Engineer Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body style="height: 100vh; overflow: hidden;">
    <% include partials/topNavbar.ejs %>

    <main
      style="
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(100vh - 100px);
        overflow: hidden;
      "
    >
      <div class="card text-center mb-4" 
           style="width: 1070px; height: 150px; background-color: #000000; color: white; position: fixed; top: 100px; z-index: 1000;">
        <div class="card-body">
          <h2 class="card-title">
            <%= error ? "Database Error" : title %>
          </h2>
          <form class="form-inline justify-content-center mt-2" action="/dashboard/search" method="post">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" required>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>

      <div class="container" style="margin-top: 200px; height: calc(100vh - 250px); overflow-y: auto;">
        <div class="row">
          <% mipList.forEach((mip, index) => { %>
            <% if (index % 3 === 0 && index !== 0) { %>
              </div>
              <div class="row">
            <% } %>
            <div class="col-sm-4">
              <a href="/paths/<%= mip.mip_id %>" style="text-decoration: none; color: inherit;">
                <div class="card card-fixed-size" style="margin-bottom: 20px;">
                  <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-title m-0"><%= mip.mip_name %></h5>
                  </div>
                </div>
              </a>
            </div>
          <% }) %>
        </div>
      </div>
    </main>
    <% include partials/footer.ejs %>
  </body>
</html>