<!DOCTYPE html>
<html>
  <head>
    <title>Engineer Login</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body class="login-body">
    <div class="login-form-container">
      <h2 class="login-title">Engineer Login</h2>
      <% if (typeof errorMessage !== 'undefined') { %>
          <div class="alert alert-danger">
            <div class="error-message">
              <%= errorMessage %>
          </div>
          </div>
      <% } %>
      <form action="/login" method="post">
        <div class="form-field">
          <label class="form-label" for="id">Engineer ID</label>
          <input class="form-input" type="number" id="id" name="id" placeholder="Please enter your Engineer ID" required min="1" />
        </div>
        <input class="form-submit" type="submit" value="Login" />
      </form>
      <button class="form-register" onclick="location.href='/register'">Register</button>
      <button class="form-register" onclick="location.href='/idcheck'">What is my ID?</button>
    </div>
  </body>
</html>